{% extends 'base.html.twig' %}

{% block title %}Hello SpotifyController!
{% endblock %}

{% block body %}

	<article>
		<header>
			<h1>Your Top 30 Playlist Is Updated In Spotify</h1>
		</header>
		<h3>Here is Your NEW Playlist:</h3>
		<ul>
			{% for item in tracks.items %}
				<li>{{item.track.name}}
					-
					{{item.track.artists[0].name}}</li>
			{% endfor %}
		</ul>
	</article>

{% endblock %}
